body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}

.header{
    text-align:center;
    background-color: black;
    color:white;
    padding:1px 0 1px 0;
}

.search{
    width:30%;
    background-color: lightgray;
    float:left;
    padding:5px;
    margin-right:5px;
}

#searchbox{
    padding:5px;
    font-size:14px;
    float:left;
    border:1px solid grey;
    border-radius: 2%;
}

#searchBtn{
    background-color: #2196F3;
    padding:5px 8px 5px 8px;
    color:white;
    border-radius: 6%;
    border: 1px solid grey;
}

#searchBtn:hover{
     box-shadow:0 0 5px 5px #7cc0f8;
}
