body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}

.header{
    text-align:center;
    background-color: black;
    color:white;
    padding:1px 0 1px 0;
}

#searchbox{
    padding:5px;
    font-size:14px;
    float:left;
    border:1px solid grey;
    border-radius: 2%;
}


#searchBtn{
    background-color: #2196F3;
    padding:5px 8px 2px 8px;
    color:white;
    border-radius: 6%;
    border: 1px solid grey;
    margin-left: 5px;
}

#searchBtn:hover{
     box-shadow:0 0 5px 5px #7cc0f8;
}

#searched-city{
    clear:left;
    margin: 10px 5px 10px 0.5px;
    overflow:hidden;
}

.searched{
    width:100%;
    background-color:white;
    font-size:17px;
    border:1px solid lightgrey;
    border-radius:2px;
    padding:10px;
}

.hide{
    display:none;
}

#today{
    border:1px solid grey;
    border-radius: 5px;
}

#today h3{
    font-weight: bold;
}